@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  --color-blue: #2b7dfa;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: var(--color-light-gray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------ */
/* Design the card and qrcode box */
/*------------------------------- */
.card {
  max-width: 28rem;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card__qrcode-box {
  background-color: var(--color-blue);
  width: 100%;
  padding: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.card__heading {
  font-weight: 700;
  color: var(--color-dark-blue);
  margin-bottom: 2rem;
}

.card__paragraph {
  font-size: 1.5rem;
  color: var(--color-grayish-blue);
}
